<div ng-controller="StaticMenuController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="header">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div ui-view class="view-frame animate-view"></div>
  </div>

  <div class="row static-pages-footer static-pages-menu-link">
      <div class="static-pages-menu-links">
        <div class="col-md-4 col-xs-4" ng-class="currentNav('/about')">
          <a href="#/about">about</a>
        </div>
        <div class="col-md-4 col-xs-4" ng-class="currentNav('/contact')">
          <a href="#/contact">contact</a>
        </div>
        <div  ng-hide='loggedIn()' class="col-md-4 col-xs-4" ng-class="currentNav('/signin')">
          <a href="#/signin">sign in</a>
        </div>
        <div ng-show="loggedIn()" class="col-md-4 col-xs-4" ng-class="currentNav('/patients')">
          <a href="#/patients">my account</a>
        </div>
      </div>
  </div>
</div>

