<div class="row">
  <flare-messages></flare-messages>
</div>
<div class="row"  >
  <div class="col-xs-5 col-xs-offset-1" style="text-align: center;">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div class="contact-logo"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        55 Fruit Street<br/>
        Boston, Ma 02114<br/><br/>
        Telephone: 617-724-7285<br/>
        Email: foo@bar.com
      </div>
    </div>
  </div>
  <div class="col-xs-4" style="">
    <h4 style="text-decoration: underline; text-align: center;">EMAIL US</h4> <br/><br/>
    <form name="contactForm" ng-submit="sendComment()">
      <fieldset>
        <div class="form-group">
          <input type="text" required class="form-inverse form-control" ng-maxlength="50"  ng-model="client.name" placeholder="Name"/>
        </div>
        <div class="form-group">
          <input type="email" required class="form-inverse form-control" ng-maxlength="50"  ng-model="client.email" placeholder="email" />
        </div>
        <div class="form-group">
          <input type="tel" required class="form-inverse form-control" ng-maxlength="20"  ng-model="client.telephone" placeholder="Phone" />
        </div>
        <div class="form-group" style="text-align: left;">
          <textarea  requried class="form-inverse form-control" style="text-align: left;" ng-maxlength="512" ng-model="client.comment" placeholder="Comments"></textarea>
        </div>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-medium btn-primary">Submit</button>
        </div>
      </fieldset>


    </form>
  </div>
</div>
