<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <%= render 'doctors/doctor_profile' %>
        <%= link_to "Close", "", { id: 'closeLink' } if request.xhr? %>                        <br/>
      </div>
    </div>
  </div>
</div>
