<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr id="menu-topbar-black"/>
  </div>
</div>
<div class="row" style="margin-bottom: 9em;">
  <div class="col-md-8 col-md-offset-2">
    <div class="row home-menu-links">
      <div class="col-md-3">
        <%= link_to 'ABOUT', about_path %>
      </div>
      <div class="col-md-3">
        <a href="#">SERVICES</a>
      </div>
      <div class="col-md-3">
        <a href="#">CONTACT</a>
      </div>
      <div class="col-md-3">
        <%= link_to 'SIGN IN', signin_path %>
      </div>
    </div>
  </div>
</div>