<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr id="menu-topbar-black"/>
  </div>
</div>
<div class="row" style="margin-bottom: 9em;">
  <div class="col-md-8 col-md-offset-2">
    <div class="row top-links home-menu-links">
      <div class="col-md-4 <%= 'top-links-active' if @active == :signin %>">
        <%= link_to 'SIGN IN', signin_path %>
      </div>
      <div class="col-md-4  <%= 'top-links-active' if @active == :services %>">
        <a href="#">SERVICES</a>
      </div>
      <div class="col-md-4  <%= 'top-links-active' if @active == :contact %>">
        <a href="#">CONTACT</a>
      </div>
    </div>
  </div>
</div>