<div class="row">
  <div class="col-xs-6">
     <h1 id="main-heading">
       Scheduling Simplified
     </h1>
     <h3 class="main-text">
     MD&ME is a real-time online scheduling network for the coordination of
     your medical appointments directly with your physician
     </h3>
  </div>
  <div class="col-xs-6 text-center">
    <img src="<%= asset_path( 'docAmpPatient.png' ) %>" />


  </div>
</div>

<div class="row main-row" style="backround-color: white">
  <div class="col-xs-6 main-bottom dashboard-panel-6">
    <h1>
      Why Use It?
    </h1>
    Laudantium sed rem. Voluptatum id officiis voluptatem dicta amet odio nam. Suscipit et repudiandae est.
    Quae pariatur qui iure. Dolor error neque earum. Cupiditate debitis hic esse temporibus quo sunt. Accusamus
    rem nihil aut magnam ipsam quia tempora. Sit aut est molestias iusto hic. Pariatur ut sed consequatur officia iusto.
    Error expedita enim omnis accusamus odio quia non. Ad minima consequuntur iure ex. Culpa blanditiis quasi dolorem
    temporibus.
  </div>
  <div class="col-xs-6 main-bottom pull-right" style="background-color: #e6e6e6;">

      <h1>
        Who Is It For?
      </h1>
      Inventore est eligendi et blanditiis. Repellat iure officia recusandae omnis minus. Unde nostrum quia.
      Odit natus quaerat qui aut qui. Aut itaque dolore rem fugit dolores. Voluptatibus et voluptas. Est dolor et.
      Qui id nulla atque aliquid. Nihil aspernatur omnis sit nisi. Qui itaque vel aperiam soluta reiciendis consequatur.
      Eum ex illum facere molestiae doloribus. Assumenda non asperiores nihil delectus quia omnis ut.
  </div>
</div>


</body>
</html>
