<%= provide(:title, "Manage Delays | ") %>

<div class="container-fluid">
  <%= render 'admins/appointments/sub_menu.html.erb' %>
  <div id="appointments-list" style="margin-top: 1em;">
    <%= render 'delay_table' %>
  </div>
</div>






