<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Add Doctor</h4></div>
        <div class="panel-body panel-inverse">
          <div class="row">
            <div class="col-md-12">
              <flare-messages></flare-messages>
            </div>
          </div>
          <form name="newDoctorForm" ng-submit="createDoctor()">
            <fieldset>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="doctor_first_name">First Name</label>
                    <input class='form-control' id="doctor_first_name" ng-model="doctor.first_name" required ng-maxlength="50"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="doctor_last_name">Last Name</label>
                    <input class='form-control' id="doctor_last_name" ng-model="doctor.last_name" required ng-maxlength="50"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="doctor_email">Email</label>
                    <input type='email' class='form-control' id="doctor_email" ng-model="doctor.email" required ng-maxlength="50"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="doctor_phone_number">Phone number</label>
                    <input class='form-control' id="doctor_phone_number" ng-model="doctor.phone_number" required ng-maxlength="20"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="doctor_department">Department</label>
                    <select id="doctor_department" class="form-control" ng-model="doctor.department_id" ng-options="department.id as department.name for department in departments">

                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3" style="text-align: center">
                  <button type="submit" class="btn btn-success">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>