<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{doctor.full_name}}</h4>
        </div>
        <div class="panel-body panel-inverse">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <img ng-src="{{doctor.avatar_thumb_url}}" id="avatar">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Name: </b><span>{{doctor.full_name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Email: </b><span>{{doctor.email}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Department: </b><span>{{doctor.department_name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Phone: </b><span>{{doctor.phone_number}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>Description: </b><span>{{doctor.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
