<div class="row">
  <div class="col-md-11 main-holder">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-align: center">
        <strong>Password Reset</strong>
      </div>
      <div class="panel-body">
        <%= form_for(:password_reset, html: { class: 'form form-horizontal form-group', role: 'form' }) do |f| %>
          <div class='form-group'>
            <div class='col-md-10 col-md-offset-1'>
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div style="text-align: center">
              <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>
