  <div class="row" id="mobile-header">
    <div class="col-xs-9" style="padding-left: 1.5em;">
      <%= link_to '<i class="fa fa-bars"></i>'.html_safe, patient_mobile_menu_path(current_patient) unless current_patient.nil? %>
    </div>
    <div class="col-xs-1" style="padding-right: 1em;">
      <a id="refresh_button" href="#"> <i class="fa fa-refresh"></i></a>
    </div>
  </div>

