<%= render 'doctors/sidebar' %>

<div class="col-xs-6">
  <div class="row">
    <div class="col-xs-10">
      <div class="panel panel-default">
        <%= render 'patients/patient_profile' %>
      </div>
    </div>
  </div>
</div>
</div>



