<div class='form-group'>
  <div class='col-md-6 col-md-offset-3'>
    <%= f.text_field :email, placeholder: 'email', class: 'patient-signin_form form-inverse form-control ' %>
  </div>
</div>
<div class='form-group'>
  <div class='col-md-6 col-md-offset-3'>
    <%= f.password_field :password, placeholder: 'password', class: 'patient-signin_form form-inverse form-control' %>
  </div>
</div>
<div class="form-group">
  <div style="text-align: center">
    <%= f.submit 'SIGN IN', class: 'btn btn-lg btn-default signin-button'  %>
  </div>
</div>