<% @patients.each_with_index do |patient, index| %>
  <% if index%4 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-md-3">
    <div class="card" style="text-align: center;">
      <%= image_tag(patient.avatar_thumb_url, :class=>'card-img-top', :alt=>'patient image') %>
      <div class="card-block" style="text-align: center;">
        <h4 class="card-title"><%= patient.full_name %></h4>
      </div>
    </div>
  </div>
  <% if index%4 == 3 || index == (@patients.length - 1) %>
    </div>
  <% end %>
<% end %>