<%= provide(:title, 'Patients') %>
<div>
  <div class="row">
    <div class="col-md-6"><h2>Patients</h2></div>
    <div class="col-md-6">Search:<input type="text" id="patient-search"/></div>
  </div>
  <div id="patient-index-list" style="margin: 2em">
    <%= render 'admins/shared/user_list' %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready page:change page:load', function() {
    //timeout waits 0.5 seconds for more keypresses before ajax call
    var timeout;
    $('#patient-search').on('keyup', function() {
      if(timeout){
        clearTimeout(timeout);
      }
      timeout = setTimeout(function() {
        var patient_search = $('#patient-search').val();
        $.ajax({
          type: "GET",
          url: '<%= admin_patients_path(@admin)%>',
          data: {
            patient_search: patient_search
          },
          success: function(data) {
            $('#patient-index-list').html(data)
          },
          error: function(error) {
            console.log(error);
          }
        });
      }, 500);
    });
  });
</script>