<%= provide(:title, 'Patients') %>
<div>
  <div class="row">
    <div class="col-md-6"><h2>Patients</h2></div>
    <div class="col-md-6">Search:<input type="text" id="patient-search"/></div>
  </div>
  <div id="patient-index-list" style="margin: 2em">
    <%= render 'admins/patients/index_list' %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready page:change page:load', function() {
    $('#patient-search').on('change', function() {
      var patient_search = $('#patient-search').val();
      $.ajax({
        type: "GET",
        url: '<%= admin_patients_path(@admin)%>',
        data: {
          patient_search: patient_search
        },
        success: function(data) {
          $('#patient-index-list').html(data)
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>