<div ng-controller="PatientsMenuController">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-md-offset-11" style="text-align: right;">
        <a ng-click='logout()' href="#">Sign Out</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <a href="#/"><img class="logo img-responsive" ng-src="{{logoSrc}}"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr id="patient-menu-topbar"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row patient-home-menu-links ">
        <div class="col-md-3 col-xs-3">
          <a href="#/patients">PROFILE</a>
        </div>
        <div class="col-md-3 col-xs-3">
          <a href="#">RESULTS</a>
        </div>
        <div class="col-md-3 col-xs-3">
          <a ng-href="#/patients/{{patient.id}}/appointments">APPOINTMENTS</a>
        </div>
        <div class="col-md-3 col-xs-3">
          <a ng-href="#/patients/{{patient.id}}/clinics">CLINICS</a>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/>
    <div ng-show='showProgressBar' class="appointment-progressbar">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="row">
            <div class="col-xs-6">
              {{progressBar.date}}
            </div>
            <div class="col-xs-2 col-xs-offset-4" style="text-align: right;">
              {{progressBar.time}}
            </div>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar" ng-class="progressBar.barClass" role="progressbar" aria-valuenow="{{progressBar.percent}}" aria-valuemin="0" aria-valuemax="100" ng-style="getPercentStyle()">
              <span class="sr-only">{{progressBar.percent}}% Complete ({{progressBar.color}})</span>
            </div>
          </div>
          <div style="text-align: center;">
            {{progressBar.timeLeft}}
          </div>
        </div>
      </div>
    </div>
    <div ng-hide='showProgressBar' style="text-align: center;">No upcoming appointments</div>
</div>
  <br/><br/><br/>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <flare-messages></flare-messages>
  </div>
</div>


<div ui-view></div>
