<div ng-controller="PatientsMenuController">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-6" style="text-align: right;">
        <a ng-click='logout()' href="#">Sign Out</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <a href="#/patients"><img class="logo img-responsive" ng-src="{{logoSrc}}"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr id="patient-menu-topbar"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row patient-home-menu-links ">
        <div class="col-md-3">
          <a href="#/patients">HOME</a>
        </div>
        <div class="col-md-3">
          <a href="#/patients/profile">MY PROFILE</a>
        </div>
        <div class="col-md-3">
          <a href="#">MY RESULTS</a>
        </div>
        <div class="col-md-3">
          <a href="#/patients/appointments">MY APPOINTMENTS</a>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/>
    <div ng-show='showProgressBar' class="appointment-progressbar">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="row">
            <div class="col-xs-6">
              {{date}}
            </div>
            <div class="col-xs-2 col-xs-offset-4" style="text-align: right;">
              {{time}}
            </div>
          </div>
          <div class="progress progress-striped">
            <div class="progress-bar" ng-class="barClass" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent}">
              <span class="sr-only">{{percent}}% Complete ({{color}})</span>
            </div>
          </div>
          <div style="text-align: center;">
            {{timeLeft}}
          </div>
        </div>
      </div>
    </div>
    <div ng-hide='showProgressBar' style="text-align: center;">No upcoming appointments</div>
</div>
  <br/><br/><br/>
