<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Change Password</h4></div>
        <div class="panel-body panel-inverse">
          <form class="form" role="form" name="patientChangePasswordForm" ng-submit="updatePassword()">
            <fieldset>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="patient_old_password">Old Password</label>
                    <input type="password" class="form-control" id="patient_old_password" required ng-model="patient.oldPassword">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="patient_new_password">New Password</label>
                    <input type="password" class="form-control" name="newPassword" id="patient_new_password" required data-ng-model="patient.newPassword">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group">
                    <label for="patient_new_password_conf">New Password Confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" ui-validate=" '$value==patient.newPassword' " ui-validate-watch=" 'patient.newPassword' "  id="patient_new_password_conf" required ng-model="patient.newPasswordConf">
                    <div ng-show="patientChangePasswordForm.confirmPassword.$error.validator">Passwords do not match</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-success">Change</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>