<div class="container">
  <aside class="flash row">
    <article flash-alert duration="5000" active-class="in" class="col-md-6 col-md-offset-3 col-sm-12 alert fade">
      {{flash.message}}
    </article>
  </aside>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default ">
            <div class="panel-heading panel-inverse"><h4>{{patient.full_name}}</h4></div>
            <div class="panel-body panel-inverse">
              <img ng-src="{{patient.avatar_thumb_url}}" id="avatar"/>
              <br/>
              <b>First Name:</b> {{patient.first_name}}<br/>
              <b>Last Name:</b> {{patient.last_name}}<br/>
              <b>Email:</b> {{patient.email}}<br/>
              <b>Home Phone #:</b> {{patient.home_phone}}<br/>
              <b>Work Phone #:</b> {{patient.work_phone}}<br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row patient-home-submenu-links">
        <div class="col-md-6">
          <a ng-href="#/patients/{{patient.id}}/edit">edit profile</a>
        </div>
        <div class="col-md-6">
          <a href="#/patients/change-password">change password</a>
        </div>
      </div>
    </div>
  </div>
</div>