<div class="row">
  <div class="col-sm-6">
    <%= render 'patients/mini_profile' %>
  </div>
  <div class="col-sm-6">
    <%= render 'patients/appointments/upcoming_appointment_details' %>
  </div>
</div>