<%= provide(:title, "#{full_name(@patient)} |") %>
<div class="container-fluid" style="background-color: #f5f5f5; padding-top: 2em; padding-bottom: 2em;">
  <%= render 'patients/profile_upcoming_appointment_section' %>
  put insurance and basic personal info here and links to edit
</div>