<%= provide(:title, " | My Patients") %>
<%= render 'sidebar' %>

<div class="col-xs-7">
  <div class="row">
    <div class="col-xs-10">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>My Patients</h4></div>
        <div class="panel-body">
          <table class='table table-striped table-bordered table-hover'>
            <thread>
              <tr>
                <th>#</th>
                <th>Patient</th>
              </tr>
              <tbody>
              <% @patients.each_with_index do |patient, index| %>
                  <tr>
                    <td><%= index %></td>
                    <td><%= link_to("#{patient.full_name}", doctors_patient_path(patient_id: patient.slug)) %></td>
                  </tr>
              <% end %>
              </tbody>
            </thread>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

</div>


