<% provide(:title, ' | Sign in') %>
<div class="container-non-responsive" id="main-content">
  <%= render 'shared/flash' %>
  <div class="row fixedheight">
    <div class="col-xs-5" id="logo">
      <%= link_to(image_tag(asset_path('mdmelogo.png')), root_path) %>
    </div>
  </div>
  <hr id="nav-break"/>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">
          <strong>Doctor's Sign In</strong>
        </div>
        <div class="panel-body">
          <%= form_for(:session, url:sessions_path, html: { class: 'form form-horizontal form-group', role: 'form' }) do |f| %>

              <%= render '/shared/signin', f: f %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

