<%= provide(:title, "Sign In") %>


<div class='container'>
  <%= render 'shared/flash' %>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Sign In</h4></div>
          <div class="panel-body">

            <%= form_for(:session, url:sessions_path, html: { class: 'form form-horizontal', role: 'form' }) do |f| %>
                <%= render 'shared/signin', f: f %>
            <% end %>
      </div>
    </div>
