#ajaxAptInfo {
  padding: 2ex;
  position: absolute;
  border: 2px double grey;
  background: white;
}

#desc_text {
  width:550px;
  padding: 0;
  border: 1px solid #ccc;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #a4a4a4; }

.table-bordered {
  border: 1px solid #454545; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #454545; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }