/**
 * Author: Matt Hamada
 * MDme copyright 2014
 */

#ajaxAptInfo {
  padding: 2ex;
  position: absolute;
  border: 2px double grey;

  background: white;
}

#desc_text {
  width:550px;
  padding: 0;
  border: 1px solid #ccc;
}




