body {
  background-color: lightgray;
}

.container {
  max-width: 1200px;
  background-color: #efefef;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  max-width: 1200px;
  background-color: #efefef;
  width: 1200px !important;
}



ul.nav.navbar-nav{
  text-align: center;
  position: center;
  width: 100%;
  margin: 0 auto;

}

