/**
 * Author: Matt Hamada
 * MDme copyright 2014
 */

@import "bootstrap";
$web-fonts-protocol: "https";


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  background-color: lightgray;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
}

.container {
  max-width: 1200px;
  background-color: #efefef;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  background-color: #efefef;
  width: 1200px !important;
}

.inside-container {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  background-color: #efefef;
}




