.field_with_errors {
  @extend .has-error;
}

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link {
  color: 	 #0191C8;

}

a:visited {
  color: 	 #005B9A;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


.img-logo {
  width: auto;
  height: auto;
  max-height: 30%;
  max-width: 30%;
}

body {
  background: rgb(145,145,145); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(145,145,145,1) 0%, rgba(201,201,201,1) 86%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(145,145,145,1)), color-stop(86%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(145,145,145,1) 0%,rgba(201,201,201,1) 86%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(145,145,145,1) 0%,rgba(201,201,201,1) 86%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(145,145,145,1) 0%,rgba(201,201,201,1) 86%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(145,145,145,1) 0%,rgba(201,201,201,1) 86%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font: fantasy;
}


panel-body {
  background-color: #ededed;
}

/*
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #a4a4a4; }

.table-bordered {
  border: 1px solid #454545; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #454545; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }
*/




#main-content {
  height: 100%;
  color: #02243C;
}

.button_links a:link {
  color: #ffffff;
}
.button_links a:visited {
  color: #ffffff;
}

.panel-heading {
  text-align: center;
}




