@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .danger;
}

.img-logo {
  width: auto;
  height: auto;
  max-height: 30%;
  max-width: 30%;
}

body {
  background: rgb(193,193,193); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(193,193,193,1) 0%, rgba(237,237,237,1) 88%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(193,193,193,1)), color-stop(88%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(193,193,193,1) 0%,rgba(237,237,237,1) 88%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(193,193,193,1) 0%,rgba(237,237,237,1) 88%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(193,193,193,1) 0%,rgba(237,237,237,1) 88%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(193,193,193,1) 0%,rgba(237,237,237,1) 88%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}