div#mobile-header {
  background-color: white;
  border-bottom: 2px solid darkgray;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

#main-row {
}



body {
//  background: rgb(145,145,145);
  background: #383838;
}

.menu-text {
  font-size: 2em;
}

.submenu-text {
  font-size: 1.5em;
}

.edit-button {

}

.row {
  margin: 0;
}

.main-holder {
  padding: 0;
  margin-top: 50px;
}


