div#mobile-header {
  background-color: white;
  border-bottom: 2px solid darkgray;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 2em;
}

body {
  background: rgb(145,145,145);
}

.menu-text {
  font-size: 2em;
}

.edit-button {

}

.row {
  margin: 0;
}

.main-holder {
  padding: 0;
}


