/**
 * Author: Matt Hamada
 * MDme copyright 2014
 */

#nav-break
{
  display:block;
  border:none;
  color:white;
  height:3px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#005B9A), to(#8C8984));
  background:    -moz-linear-gradient(left, rgb(140,137,152) 0%, rgb(0,91,154) 50%, rgb(140,137,152) 100%);
  background:     -ms-linear-gradient(left, rgb(140,137,152) 0%, rgb(0,91,154) 50%, rgb(140,137,152) 100%);
  background:      -o-linear-gradient(left, rgb(140,137,152) 0%, rgb(0,91,154) 50%, rgb(140,137,152) 100%);
  background:         linear-gradient(left, rgb(140,137,152) 0%, rgb(0,91,154) 50%, rgb(140,137,152) 100%);

}

#static-links
{
  font-size: 16px;
  position: relative;
  bottom: 0;
  top:80%;
  height:10em;
  margin-top:-5em;
  white-space: nowrap;
}

#main-heading
{
  text-align: center;
  text-size: 30px;
}

.main-text
{
  font-size: 25px;
  text-align: center;
}

.main-bottom
{
  text-align: center;
  background-color: #E6E6E6;
  font-size: 18px;
  height: 400px;
}



.dashboard-panel-6
{
  width: 49%;

}


.fixedheight {
  height: 100px;
  position:relative;
  
}



.bottom-aligned {
  position:relative;
  top:80%;
  height:10em;
  margin-top:-5em;
}

/* needed to make logo clickable while keeping links aligned */
#logo {
  position: relative;
  z-index: 1;
}



