
<table class='table table-striped table-bordered table-hover'>
  <thread>
    <tr>
      <th>Time</th>

    </tr>
    <tbody>
    <% @open_times.each do |time| %>
        <% time %>
        <tr>
          <td><%= time %></td>
        </tr>
    <% end %>
    </tbody>
  </thread>
</table>

