<%= provide(:title, "Edit Appointment Request") %>
<%= render 'patients/sidebar' %>

<div class="col-xs-8">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'patients/appointments/ajax_edit' %>
    </div>
  </div>
</div>

</div>





