<div class="row">
  <div class="col-md-12 main-holder">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Confirmed Appointments</h4></div>
      <div class="panel-body">
        <%= render 'shared/flash' %>
        <table class='table table-striped table-bordered table-hover'>
            <thread>
              <tr>
                <th>#</th>
                <th>Time</th>
                <th>Doctor</th>
              </tr>
              <tbody>
              <% @appointments.each_with_index do |appointment, index| %>
                <tr>
                  <td><%= link_to("#{index+1}", patient_appointment_path(@patient, appointment)) %></td>
                  <td><%= appointment.date_time_ampm %></td>
                  <td><%= link_to "#{appointment.doctor_full_name}", patient_doctor_path(@patient, appointment.doctor) %></td>
                </tr>
              <% end %>
              </tbody>
            </thread>
          </table>
      </div>
    </div>
  </div>
</div>
