<div class="row">
  <div class="col-md-11 main-holder">
    <div class='panel panel-default'>
      <div class="panel-heading"><strong><i class="fa fa-book"></i>Appointments</strong></div>
      <div class="well">
        <ul class="nav nav-pills nav-stacked">
          <li class="submenu-text"><%= link_to "<i class='fa fa-book'></i> Confirmed Appointments".html_safe, patient_appointments_path(current_patient) %><li>
          <li class="submenu-text"><%= link_to "<i class='fa fa-calendar'></i> New Request".html_safe, new_patient_appointment_path(current_patient) %></li>
          <li class="submenu-text"><%= link_to "<i class='fa fa-eye'></i> Open Requests".html_safe, open_requests_path(current_patient) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>