<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <flare-messages></flare-messages>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Today's Appointments</h4></div>
            <div class="panel-body panel-inverse">
              <div class="day_appointments">
                <table class='table table-striped table-bordered table-hover table-inverse'>
                  <thread>
                    <tr>
                      <th>#</th>
                      <th>Time</th>
                      <th>Delayed Time</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Checked In?</th>
                      <th>Appointment Ready</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="appt in appointments">
                      <td><a ui-sref="admin.appointment({appointmentId: {{appt.id}}, adminId: {{admin.id}}})">{{$index + 1}}</a></td>
                      <td>{{appt.time_am_pm}}</td>
                      <td>{{appt.delayed_time_ampm}}</td>
                      <td>{{appt.doctor_full_name}}</td>
                      <td>{{appt.patient_full_name}}</td>
                      <td><i ng-show="appt.checked_in" class='fa fa-check'></i></td>
                      <td><button ng-click="notifyApptReady(appt)" class="btn btn-sm btn-primary">Notify</button></td>
                    </tr>
                    </tbody>
                  </thread>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 inverse-color">
          <a ui-sref="admin.appointmentsBrowse({adminId: {{admin.id}}})">Browse Appointments</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 inverse-color">
          <a ui-sref="admin.appointmentNew({adminId: {{admin.id}}})">Add Appointment</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 inverse-color">
          <a href="#">Appointment Requests</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 inverse-color">
          <a href="#">Manage Delays</a>
        </div>
      </div>
    </div>
  </div>

</div>