<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Add Appointment</h4></div>
          <div class="panel-body panel-inverse">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <flare-messages></flare-messages>
              </div>
            </div>
            <form name="newAppointmentForm" class="form" ng-submit="createAppointment()">
              <fieldset>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_date">Date</label>
                      <input type="date" required ng-click="dateChosen()" ng-change="loadTimes()" ng-model="appointment.date" class="form-control" id="appointment_date">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_patient">Patient</label>
                      <select  required class="form-control" ng-options="patient.full_name for patient in patients" ng-model="appointment.patient" id="appointment_patient">
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_doctor">Doctor</label>
                      <select required ng-click="doctorChosen()" ng-change="loadTimes()"  class="form-control" ng-options="doctor.full_name for doctor in doctors" ng-model="appointment.doctor" id="appointment_doctor">
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <ul class="list-group">
                      <li ng-repeat="time in times1"class="list-group-item" ng-click="selectTime(time)" ng-class="getTimeClass(time)">{{time.time}}</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <div class="list-group">
                      <li ng-repeat="time in times2"class="list-group-item list-group-item-warning" ng-click="selectTime(time)" ng-class="getTimeClass(time)">{{time.time}}</li>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="appointment_description">Description</label>
                          <textarea ng-maxlength="2048" ng-model="appointment.description" rows="5" placeholder="I think I'm dying..." class="form-control" id="appointment_description"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="appointment_notify_earlier">Notify if earlier time becomes available?</label>
                          <input type="checkbox" name="notifyEarlier" ng-model="appointment.notify_earlier" id="appointment_notify_earlier">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-5">
                        <button type="submit" class="btn btn-large btn-primary">Request</button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>