<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Add Appointment</h4></div>
          <div class="panel-body panel-inverse">
            <form name="newAppointmentForm" class="form" ng-submit="createAppointment()">
              <fieldset>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_date">Date</label>
                      <input type="date" required ng-maxlength="20" ng-model="appointment.date" class="form-control" id="appointment_date">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_clinic">Clinic</label>
                      <select ng-change="loadDoctors(appointment.clinic)" ng-options="clinic.name for clinic in clinics" ng-model="appointment.clinic" class="form-control" id="appointment_clinic">
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="appointment_doctor">Doctor</label>
                      <select ng-change="loadTimes(doctor)" class="form-control" ng-options="doctor.full_name for doctor in doctors" ng-model="appointment.doctor" id="appointment_doctor">
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li ng-repeat="time in times1"class="list-group-item" ng-click="selectTime(time)" ng-class="getTimeClass(time)">{{time.time}}</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <li ng-repeat="time in times2"class="list-group-item list-group-item-warning" ng-click="selectTime(time)" ng-class="getTimeClass(time)">{{time.time}}</li>
        </div>
      </div>
    </div>
  </div>
</div>