<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Appointment Details</h4></div>
        <div class="panel-body panel-inverse">
          <div class="row">
            <div class="col-xs-12">
              <b>Clinic:</b>{{appointment.clinic_name}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <b>Doctor:</b> <a href="#/patients/{{patient.id}}/doctors/{{doctor.id}}">{{appointment.doctor_full_name}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <b>Time:</b> {{appointment.date_time_ampm}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <b>Notes:</b> {{appointment.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <a ng-click="cancel()" href="#">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>