    <div id="footer">
      <hr id="nav-break"/>

      <p>&copy; 2014 MDME.us </p>
      <%= "variant: #{request.variant}" %>
      <%= debug(params) if Rails.env.development? %>

    </div>

</div>


