<div class="container">
  <div class="navbar  navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="<%= asset_path( 'logo.jpg' ) %>" /></a>
      </div>
    </div>
  </div>
  <div class="navbar-collapse collapse text-center">
    <ul class="nav nav-justified ">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#login">Login</a></li>
    </ul>
  </div>
